body {
  // font-family: 'Noto Sans Mono', monospace;
  // font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
  //   font-family: 'Noto Sans JP', sans-serif;
  // font-family: 'Noto Sans Mono', monospace;

  // background: rgba(0, 0, 0, 0.58);
  background: linear-gradient(
      206deg,
      #ffffff 0%,
      rgba(236, 236, 236, 0.53) 30%,
      rgba(0, 0, 0, 0.94) 95%
    ),
    url('./../images/wood3.jpg');
  // opacity: 0.1;
  // background-image: url('http://www.skrenta.com/images/stackoverflow.jpg'),
  //   linear-gradient(red, yellow);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: hidden;

  // background-color: rgba(75, 30, 0, 0.705);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  display: block;
}

// .card-list {
//   width: 90vw;
// }
