$top: 400px;
$left: 200px;
$topDif: 2px;
$leftDif: 5px;

@mixin topDist($top, $topDif, $nth) {
  top: calc(#{$top} + (#{$topDif} * (#{$nth} - 1)));
}

@mixin leftDist($left, $leftDif, $nth) {
  left: calc(#{$left} + (#{$leftDif} * (#{$nth - 1})));
}

@mixin cardAnimation($animation, $time, $z) {
  animation-name: $animation;
  animation-duration: $time;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  z-index: $z;
}

.card__item {
  cursor: pointer;

  &:nth-child(1) {
    z-index: 4;
    transform: rotate(1deg);
    box-shadow: -5px 5px 7px 5px rgba(24, 21, 21, 0.1);

    @include topDist($top, $topDif, 1);
    @include leftDist($left, $leftDif, 1);
  }

  &:nth-child(2) {
    z-index: 3;
    transform: rotate(1deg);
    box-shadow: -4px 4px 3px 5px rgba(24, 21, 21, 0.1);

    @include topDist($top, $topDif, 2.2);
    @include leftDist($left, $leftDif, 2.3);
  }
  &:nth-child(3) {
    z-index: 2;
    transform: rotate(2deg);
    box-shadow: -3px 3px 3px 2px rgba(24, 21, 21, 0.1);

    @include topDist($top, $topDif, 3.2);
    @include leftDist($left, $leftDif, 3.9);
  }
  &:nth-child(4) {
    z-index: 1;
    transform: rotate(1deg);
    @include topDist($top, $topDif, 4.6);
    @include leftDist($left, $leftDif, 4.3);
  }

  &-animation {
    cursor: auto;
    &:nth-child(1) {
      @include cardAnimation(firstCard, 1750ms, 4);
    }
    &:nth-child(2) {
      @include leftDist($left, $leftDif, 2.3);
      @include cardAnimation(secondCard, 1750ms, 5);
    }
    &:nth-child(3) {
      @include leftDist($left, $leftDif, 3.9);
      @include cardAnimation(thirdCard, 1750ms, 6);
    }
    &:nth-child(4) {
      @include leftDist($left, $leftDif, 4.3);
    }
  }
}

.puls-text {
  animation: pulse-animation 2s infinite;
}

.shake {
  animation: shake-card 500ms infinite;
}

.flip {
  animation: shadowFourth;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

// Key frame

@keyframes shadowFourth {
  0% {
    transform: rotateY(0deg);
    box-shadow: 0px 0px 5px 0px rgba(24, 21, 21, 0.3);
  }

  25% {
    box-shadow: -90px 40px 50px 10px rgba(24, 21, 21, 0.6);
  }

  45% {
    box-shadow: 0px 0px 100px 10px rgba(24, 21, 21, 0);
  }

  75% {
    box-shadow: 90px 40px 50px 10px rgba(24, 21, 21, 0.6);
  }

  100% {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 5px 0px rgba(24, 21, 21, 0.3);
  }
}

@keyframes pulse-animation {
  0% {
    text-shadow: 0 0px rgba(0, 0, 0, 0.9);
  }
  100% {
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
  }
}

@keyframes shake-card {
  0% {
    transform: rotateY(-0.5deg);
  }
  50% {
    transform: rotate(0.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes firstCard {
  0% {
    transform: translate(0px, -0px) rotate(1deg);
    background-position: left;
  }

  100% {
    transform: translate(300px, -290px) rotate(20deg);
    box-shadow: 0px 0px 2px 0px rgba(24, 21, 21, 0.3);
    background-position: right;
  }
}

@keyframes secondCard {
  0% {
    transform: translate(0px, -0px) rotate(1deg);
    background-position: left;
  }

  100% {
    transform: translate(300px, -280px) rotate(15deg);
    box-shadow: 0px 0px 2px 0px rgba(24, 21, 21, 0.3);
    background-position: right;
  }
}

@keyframes thirdCard {
  0% {
    transform: translate(0px, -0px) rotate(2deg);
    background-position: left;
  }

  100% {
    transform: translate(300px, -270px) rotate(12deg);
    box-shadow: 0px 0px 2px 0px rgba(24, 21, 21, 0.3);
    background-position: right;
    z-index: 5;
  }
}
