.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //   width: 1600px;
}

.card__item {
  background-color: #f9f9f9;
  width: 620px;
  height: 300px;
  padding: 60px;
  // margin-right: 50px;
  // margin-top: 50px;
}

.card__item:first-child {
  .sun {
    // fill: rgb(236, 231, 209);
    fill: rgba(236, 231, 209, 0.431);
    position: absolute;
    right: 0;
    top: 0;
  }

  .profesion {
    width: fit-content;
    margin-left: auto;
    top: 20px;
    position: relative;
    z-index: 10;

    font-weight: 600;
    font-size: 20px;
    line-height: 1.235;
  }

  .name {
    width: fit-content;
    margin-top: 75px;
    margin-left: auto;
    position: relative;
    z-index: 11;
    // margin-right: auto;
    font-weight: 300;

    font-style: normal;
    font-size: 50px;
    text-align: center;

    letter-spacing: 10px;
    // word-spacing: 10px;
    line-height: 1.2;
  }
}

address {
  margin-top: 30px;
  margin-left: -110px;
  p {
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  a {
    display: block;
    font-weight: 400;

    font-size: 21px;
    letter-spacing: 2px;
    margin-top: 10px;

    line-height: 1;
  }
}
