.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //   width: 1600px;
}

.card__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  height: 300px;
  margin-top: 450px;
  position: absolute;

  &-bg-img {
    background-image: url('./../images/lightpaperfibers.png');
  }
}

.sun {
  // fill: rgb(236, 231, 209);
  fill: rgba(236, 231, 209, 0.431);
  position: absolute;
  right: 0;
  top: 0;
}

.profesion {
  align-self: flex-end;
  margin-left: auto;
  padding-right: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.235;
}

.name {
  width: fit-content;
  margin-top: 75px;
  margin-left: auto;
  position: relative;
  z-index: 11;

  font-weight: 300;

  font-style: normal;
  font-size: 50px;
  text-align: center;

  letter-spacing: 10px;
  line-height: 1.2;
}

address {
  // margin-top: 30px;
  // margin-left: -110px;
  p {
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 400;
  }
  a {
    display: block;
    font-weight: 400;

    font-size: 21px;
    letter-spacing: 2px;
    // margin-top: 10px;

    line-height: 1;
  }
}

//  THIRD CARD
.git {
  width: 190px;
}
// THIRD CARD END

// LAST CARD

.contant {
  font-size: 40px;
  font-weight: 400;
  margin-top: 130px;

  text-shadow: 2px 2px rgba(141, 137, 137, 0.9);
}

// flip card
.flip-card {
  position: absolute;
  width: 620px;
  height: 300px;
  padding: 0;
  margin-top: 450px;
  box-shadow: 0px 20px 10px 0px rgba(24, 21, 21, 0.3);
  perspective: 10000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 700ms;
  transform-style: preserve-3d;
  transition-delay: 500ms;
  transition-timing-function: ease-in-out;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front {
  background-image: url('./../images/lightpaperfibers.png');
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  background-image: url('./../images/lightpaperfibers.png');
  color: black;
  transform: rotateY(180deg);
}
